a {
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}


.sign {
    display: flex;
    align-items: center;
}


.menuItem {
    margin-right: 15px;
    list-style: none;
}

.menuItem:last-child {
    margin-right: 30px;
}

.itemLine {
    transition: 0.2s;
}


.itemLine:hover {
    transform: scale(1.05);
    border-bottom: 1px solid #ff4313;
    transition: 0.2s;
}

.menuItemLink {
    transition: 0.3s;
    width: 401px;
    color: #1c6c9c;
    font-family: "Arial MT", serif;
    font-size: 23px;
    font-weight: 400;
}

.menuItemLink:hover {
    transform: scale(1.07);
    transition: 0.3s;
}

.link {
    color: #ffffff;
}

.menuItemBtnLink {
    width: 120px;
    height: 27px;
    border-radius: 10px;
    border: 2px solid #1c6c9c;
    color: #1c6c9c;
    font-family: "Arial MT", serif;
    font-size: 21px;
    font-weight: 400;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItemBtnLink:hover {
    color: #dedede;
    transition: 0.3s;
    transform: scale(1.15);
    background: #ff4313;
    border: 2px solid #ffffff;

}

.menuItemProfile {
    height: 27px;
    border-radius: 10px;
    border: 2px solid #1c6c9c;
    color: #1c6c9c;
    font-family: "Arial MT", serif;
    font-size: 21px;
    font-weight: 400;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 3px;
}

.menuItemProfile:hover {
    color: #dedede;
    transition: 0.3s;
    transform: scale(1.05);
    background: #ff4313;
    border: 2px solid #ffffff;

}

.menuItemLogout {
    margin-right: 20px;
    height: 37px;
    border-radius: 10px;
    border: 2px solid #1c6c9c;
    color: #1c6c9c;
    font-family: "Arial MT", serif;
    font-size: 21px;
    font-weight: 400;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background: #ffffff;
    cursor: pointer;
}

.menuItemLogout:hover {
    color: #dedede;
    transition: 0.3s;
    transform: scale(1.1);
    background: #ff4313;
    border: 2px solid #ffffff;
}

.menuProfile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger {
    height: 30px;
    width: 30px;
    display: none;
    transition: 0.3s;
    cursor: pointer;

}

.burgerItem {
    height: 15%;
    background: #636363;
    border-radius: 3px;
    transition: 0.3s;

}

.burgerFirst {
    background: #ffffff;
    transform: rotate(90deg) translateX(20px) rotate(45deg);
    transition: 0.3s;

}

.burgerSecond {
    background: #ffffff;
    transform: translateX(-200%);
    transition: 0.3s;
}

.burgerThird {
    background: #ffffff;
    transform: rotate(45deg);
    transition: 0.3s;

}

@media (max-width: 1250px) {
    .menuItemLink {
        font-size: 20px;
    }

    .menuItemBtnLink {
        font-size: 18px;
    }

    .menuItemProfile, .menuItemLogout {
        font-size: 18px;
    }

    .menuItemProfile {
        height: 23px;
    }

    .menuItemLogout {
        height: 33px;
    }
}

@media (max-width: 1080px) {
    .menu {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        z-index: 22;
        position: fixed;
        left: 15px;
        top: 40px;
    }


    .showMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        width: 300px;
        height: 100vh;
        z-index: 20;
        background-image: linear-gradient(#000000, #000000);
        opacity: 0.9;
        left: 0;
        top: 0;
    }

    .menuItem {
        margin-bottom: 20px;
    }

    .menuItemLink {
        color: #ffffff;

    }

    .menuItemProfile {
        color: #ffffff;
        border-color: #ffffff;
    }

    .menuItemLogout {
        background: transparent;
        color: #ffffff;
        border-color: #ffffff;
    }

    .sign {
        width: 100%;
        justify-content: center;
    }

    .menuItemBtnLink {
        margin-left: 10%;
        width: 100px;
        color: #ffffff;
        border-color: #ffffff;
    }
}