.logoSlogan {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logoDescription {
    margin-left: 10px;

}


@media (max-width: 400px) {
   .logoText{
      width: 200px;
   }
}
@media (max-width: 380px) {
   .logoDescription{
       display: none;
   }
}