footer{
    background: #b1bdc2;
    color: #ffffff;
    font-family: "Arial MT", serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 36px;
    padding: 30px 0 30px 0;
    text-align: center;
}