.resetInfo {
    width: 35%;
    min-height: 60%;
    border-radius: 35px;
    background-color: #ffffff;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    padding-bottom: 8px;
}
.resetTitle {
    width: 300px;
    color: #1c6c9c;
    font-family: "Arial MT", serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}