.commonContactsContainer{
    margin: 0 auto;
    background-image: url("../../../assets/img/1212.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0 100px 0;
}

.commonContactsInfoTitle{
    color: #ffffff;
    font-family: "Arial - Bold MT", serif;
    font-size: 30px;
    font-weight: 600;
}
.commonContactsInfoData{
    color: #ffffff;
    font-family: "Arial - Bold MT", serif;
    font-size: 20px;
    font-weight: 600;
}