.area {
    resize: none;
}

.avatarBlock {
    height: 350px;
    width: 350px;
    border-radius: 50%;
}


.docInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4%;
}
.rate{
    align-self: start;
}
.docProfileContainer {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(45deg, #2694d6, #2d439e);
    padding-top: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.docInfoData {
    width: 40%;
    border-radius: 40px;
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: center;
}

.docInfoDataName {
    color: #2957ac;
    font-family: "Arial MT", serif;
    font-size: 30px;
    font-weight: 400;
    display: flex;
}

.mainInfo {
    width: 60%;
    height: 100%;
    margin-left: 30px;
}

.restInfoContainer {
    display: flex;
    width: 100%;
}

.restInfo {
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
    justify-content: center;
}

.restInfoTitle {
    color: #2957ac;
    font-family: "Arial - Bold MT", serif;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 10px;
}

.restInfoData {
    color: #2957ac;
    font-family: "Arial MT", serif;
    font-size: 19px;
    font-weight: 400;
    font-style: italic;

}

.ratingTitle {
    color: #2d74d6;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.name {
    margin-right: 5px;

}

.position {
    font-weight: 600;
    margin-bottom: 17px;
    text-align: start;
}

.docInfoTitle {
    color: #2957ac;
    font-family: "Arial MT", serif;
    font-size: 19px;
    font-weight: 600;
    font-style: italic;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: start;
}

.backBtn {
    width: 120px;
    height: 32px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    color: #f1f1f1;
    font-family: "Arial MT", serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff4313;
    margin-left: 20px;
    transition: 0.2s;

}

.backBtn:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.nextPage {
    width: 200px;
    height: 45px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    color: #f1f1f1;
    font-family: "Arial MT", serif;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff4313;
    margin-left: 20px;
    transition: 0.2s;
    margin-bottom: 30px;
    cursor: pointer;

}

.nextPage:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.commentContainer {
    align-self: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.commentArea {
    width: 80%;
    height: 130px;
    border-radius: 40px;
    background-color: #ffffff;
    margin-top: 30px;
    display: flex;
    margin-bottom: 30px;

}

@media (max-width: 1200px) {
    .docInfo {
        flex-direction: column;
        margin-left: 30px;
    }

    .avatarBlock {
        margin-bottom: 20px;
    }

    .docInfoData {
        width: 620px;
    }

}

@media (max-width: 680px) {

    .docInfoData {
        width: 80%;
        align-self: center;

    }
    .avatarBlock{
        align-self: center;
    }
    .docInfoDataName{
        width: 80%;
    }
    .mainInfo{
        width: 100%;
    }
}
@media (max-width: 550px) {


    .docInfoDataName{
        font-size: 25px;
    }
    .restInfoData{
        font-size: 18px;
    }
    .docInfoTitle{
        font-size: 18px;
        width: 35%;
    }
    .restInfoTitle{
        font-size: 18px;
    }

    .docInfoData {
        width: 95%;
        margin: 0 10px 20px 10px;
    }
    .docInfo{
        margin-left: 0;
    }

}

@media (max-width: 350px) {


    .docInfoDataName{
        font-size: 20px;
    }
    .avatarBlock {
        height: 260px;
        width: 260px;
        border-radius: 50%;
    }
}
@media (max-width: 320px) {


    .docInfoDataName{
        font-size: 19px;
    }
    .restInfoData{
        font-size: 16px;
    }
    .docInfoTitle{
        font-size: 16px;
        width: 35%;
    }
    .restInfoTitle{
        font-size: 16px;
    }
}
