.mainAboutContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background: #ffffff;
}

.mainAboutImg {
    width: 650px;
    height: 480px;
}

.mainAboutTitle {
    width: 800px;
    color: #1c6c9c;
    font-family: "Arial - Bold MT", sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 50px;
}

.mainAboutBtn {
    width: 170px;
    color: #1c6c9c;
    font-family: "Arial MT", serif;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #1c6c9c;
    padding: 5px 0;
    transition: 0.4s;
}

.mainAboutBtn:hover {
    transform: scale(1.1);
    transition: 0.4s;
    background: #ff4313;
    color: #ffffff;
    border: 2px solid transparent;

}

.mainAboutDescription {
    width: 600px;
    height: 146px;
    color: #1c6c9c;
    font-family: "Arial MT", serif;
    font-size: 23px;
    font-weight: 400;
}

.mainAboutInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    margin-left: 20px;

}

@media (max-width: 1477px) {
    .mainAboutImg {
        width: 550px;
        height: 380px;
        margin-right: 30px;
    }

    .mainAboutTitle {
        width: 100%;
        align-self: center;
    }

    .mainAboutDescription {
        width: 100%;
    }
}

@media (max-width: 920px) {
    .mainAboutImg {
        width: 450px;
        height: 340px;
        margin-right: 30px;
    }

    .mainAboutTitle {
        font-size: 45px;
    }

    .mainAboutDescription {
        font-size: 19px;
    }
}

@media (max-width: 745px) {
    .mainAboutInfo {
        align-items: center;
        justify-content: space-around;
    }

    .mainAboutDescription {
        width: 80%;
        font-size: 22px;
    }

    .mainAboutTitle {
        width: 80%;
        font-size: 55px;
    }

    .mainAboutContainer {
        flex-direction: column;
        justify-content: space-around;
    }
    .mainBtn{
        width: 80%;
    }
    .mainAboutImg {
        margin: 30px 0;
    }
}
@media (max-width: 460px) {
    .mainAboutImg {
        width: 90%;
        height: 30%;

    }
}
@media (max-width: 310px) {
    .mainAboutDescription{
       font-size: 19px;
    }
}