.mainContainer {
    width: 100%;
    background: linear-gradient(45deg, #2694d6,#2d439e);
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.mainLogo {
    max-width: 669px;
}

.mainInfo {
    display: flex;
    flex-direction: column;

}

.mainTitle {
    width: 450px;
    color: #ffffff;
    font-family: "Arial - Bold MT", serif;
    font-size: 50px;
    font-weight: 400;
}

.mainDescription {
    width: 450px;
    color: #ffffff;
    font-family: "Arial MT", serif;
    font-size: 22px;
    font-weight: 400;
}

.mainBtn {
    width: 112px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: transparent;
    transition: 0.5s;
}

.link:hover {
    transform: scale(1.1);
    transition: 0.3s;
    background: #ff4313;
    color: #ffffff;
}

.link {
    color: #ffffff;
    font-size: 21px;
    width: 112px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background: transparent;
    transition: 0.5s;
    display: block;
    text-align: center;
    padding-bottom: 5px;
}

.mainBtn:hover .link {
    color: #ffffff;
}
