.headerContainer {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(26, 133, 255, 0.63);
    padding-top: 30px;
    padding-bottom: 30px;
}