.updateForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.updateForm select{
    border: 2px solid #555555;
    border-radius: 10px;
    width: 100%;
    color: #4f4f4f;
    height: 27px;
    font-size: 17px;
    text-decoration: none;
    outline: none;
    margin-bottom: 10px;


}

.updateForm select:focus{
    box-shadow: 0 0 8px #88D5E9;
    border: 2px solid  #157dc3;
}
.label{
    color:  #555555;
    background: transparent;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;

}
.err{
    color: red;
    font-style: italic;
    font-size: 15px;
    font-weight: 600;
}
.check{
    height: 30px;
    width: 120px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #287c1f 0%, #26d668 100%);    outline: none;
    cursor: pointer;
    color: #ffffff;
    border: none;
    margin: 5px 0;
}
.check:hover{
    opacity: 0.85;
}