.regTitle{
    height: 55px;
    color: #2694d6;
    font-family: "Arial MT", serif;
    font-size: 60px;
    font-weight: 400;
    margin: 20px 10px;
    text-align: center;
}
.regContainer{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #ffffff;
}
.successReg {
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    color: #2694d6;
    font-family: "Arial MT", serif;
    font-size: 60px;
    font-weight: 400;
}
.regInfo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media (max-width: 526px) {
    .regTitle{
        font-size: 45px;
        margin-bottom: 10px;
    }
}
@media (max-width: 370px) {
    .regTitle{
        font-size: 30px;
        margin-bottom: 10px;
    }
}