.errorMsg input {
    color: red;
    border-bottom: 2px solid red;
    font-style: italic;
    font-size: 15px;
}

.errorMsg div {
    color: red;
    font-style: italic;
    font-size: 14px;
    font-weight: 600;

}