.commentatorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.edit {
    color: green;
    background: transparent;
    display: none;
}


.commentCardContainer {
    background: transparent;
    width: 85%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.commentInformation {
    width: 85%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.commentText {
    width: 95%;
    color: #1c6c9c;
    font-family: "Arial MT", serif;
    font-size: 20px;
    font-weight: 400;
    align-self: center;
    margin-top: 10px;
}

.commentatorName {
    color: #ffffff;
    font-family: "Arial MT", serif;
    font-size: 20px;
    font-weight: 600;
    align-self: start;
}

.commentCommon {
    width: 20px;
    height: 23px;
    background: #ffffff;
    border-bottom-left-radius: 99%;
    margin-left: -20px;
}

.commentDate {
    color: #1c6c9c;
    font-family: "Arial MT", serif;
    font-size: 18px;
    font-weight: 600;
    align-self: center;
    width: 95%;
}

.changeText {
    display: flex;
    margin-left: 20px
}

.editArea {
    margin-left: 30px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    height: 75px;
}
.editAreaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.editAreaText{
    width: 95%;
}

.editCancel{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    color: #f1f1f1;
    background:#ff1744;
    border: 2px solid #ffffff;
    font-size: 18px;
    margin-left: -15px;
    margin-top: 15px;
    transition: 0.3s;
    cursor: pointer;
}
.editConfirm{
    background: #283593;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    color: #f1f1f1;
    border: 2px solid #ffffff;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;

}
 .editCancel:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.editConfirm:hover{
    transform: scale(1.05);
    transition: 0.3s;
}